body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, a{
  font-family: 'Lato', sans-serif;
}

p{
  font-family: 'Libre Baskerville', serif;
}

.menu {
  background-color: #F5F5F5;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2vh;
  align-items:center;
}

.navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 1vw;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0;
  margin-right: 40px;
}

.menu-list-item {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu-link {
  color: #39491C;
  display: inline-block;
  height: 100%;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 3px;
}

.menu-link:hover {
  color: #F3C65D;
}

.menu-link-active {
  color: #F3C65D;
  border-top: 4px solid #F3C65D;
  font-weight: 700;
  font-size:1.3rem;
  text-decoration:none;
}

.menu-logo {
  text-indent: -9999999px;
  display: inline-block;
  height: 100%;
  width: 92px;
  background-size: cover 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding-left: 1vw;
}

.menu-search-button {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid #F5F5F5;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-search-form {
  padding: 10px;
  background-color: white;
}

.search-container{
  position: absolute;
  top: 9%;
  left:2%;
}

.menu-search-input {
  outline: none;
  border: 1px solid #F5F5F5;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
}

h1{
  font-size: 3rem;
  color: #39491C;
}

.header-container{
  height:50vh;
}